<header id="top-header">
  <span class="site-name">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
    <!-- Standard navigation links -->
    <!-- <a href="/">Home</a>
    <a href="/vehicles">Vehicles</a>
    <a href="/about">About</a> -->
    
    <% if(locals.loggedin) { %>
      <!-- Only show when logged in -->
      <a href="/account/">Welcome <%= locals.accountData.firstname %></a>
      <a href="/account/logout">Logout</a>
    <% } else { %>
      <!-- Only show when logged out -->
      <a href="/account/login">My Account</a>
    <% } %>
</header>
 