<header>
    <h1>CSE Motors</h1>
    <button class="menu-toggle"></button>
    <nav>
        <a href="index.html">Home</a>
        <a href="custom.html">Custom</a>
        <a href=seden.html>Sedan</a>
        <a href="suv.html">SUV</a>
        <a href="truck.html">Truck</a>
    </nav>
</header>
    
<section class="hero">
    <h2>Welcome to CSE Motors!</h2>
    <p><strong>DMC Delorean</strong></p>
    <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
    <button class="button">Own Today</button>
</section>
    
<section class="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="upgrade-list">
        <img src="../public/images/upgrades/flux-cap.png" alt="Flux Capacitor">
        <img src="../public/images/upgrades/flame.jpg" alt="Flame Decals">
        <img src="../public/images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers">
        <img src="../public/images/upgrades/hub-cap.jpg" alt="Hub Caps">
    </div>
</section>
    
<section class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <ul>
        <li>"So fast it’s almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I’m feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day." (4/5)</li>
        <li>"80’s livin and I love it!" (5/5)</li>
    </ul>
</section>
 
    

