<div class="container">
    <header>
        <h1>CSE Motors</h1>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Custom</a></li>
                <li><a href="#">Sedan</a></li>
                <li><a href="#">SUV</a></li>
                <li><a href="#">Truck</a></li>
            </ul>
            <a href="#" class="account">My Account</a>
        </nav>
    </header>